* {
    box-sizing: border-box;
}


body {

    font-family: Arial, sans-serif;
    background-color: #be9af1;
    padding: 60px;
    font-size: 25px;
}

h2 {
    text-align: center;
}

#sinavlar {
    max-width: 400px;
    margin: 0 auto;

}

.sinav {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    height: 50px;

    display: flex;
    gap: 15px;
    align-items: center;
}

.sinav input {
    width: 70px;
    padding: 5px;

}

.buton-alan {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    height: 50px;
    

}

.sil-btn {
    padding: 4px 8px;
    font-size: 15px;
    height: 30px;
    margin-top: 0;
}


button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    
}

#sonuc {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

#popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    justify-content: center;
    align-items: center;
}

#popup-icerik {
    background: rgb(225, 191, 238);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.arka-plan {
    height:400px;
    background-image: url("foto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    margin-top: 40px;
    
}

@media (max-width: 600px) {
    body {
        padding: 20px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .sinav {
        flex-direction: column;
        align-items: stretch;
    }

    .sinav input {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .arka-plan {
        height: 200px;
        background-size: 200px;
    }
}

